<div class="container__pets">
  <% @pets.each do |pet| %>
    <div class="pet-container">
      <% if pet.photo.attached? %>
        <%= image_tag(pet.photo) %>
      <% end %>
      <div class="pet-container-infos">
        <% if pet.name != nil %>
          <h2><%= pet.name %></h2>
        <% end %>
        <% if pet.animal != nil && pet.gender.present?%>
          <p><%= pet.animal.capitalize %> | <%= pet.gender.capitalize %></p>
        <% else %>
          <p><%= pet.animal.capitalize %></p>
        <% end %>
        <% if pet.age != nil %>
          <p><%= pet.age %></p>
        <% end %>
        <% if pet.breed != nil %>
          <p><%= pet.breed %></p>
        <% end %>
        <% if pet.description != nil %>
          <p><%= pet.description.first(200) %>...</p>
        <% end %>
        <% if pet.url.present? %>
          <%= link_to pet.url, target:"_blank" do %>
            <p>Click here for more info</p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
