<div class="container">
  <h1>Japan Pets</h1>
  <h3>Adopting a pet is a wonderful thing. But if you live in Japan and don't speak Japanese well enough, it can be difficult finding the right pet for you. Japan Pets aims to fix that. We've scoured the web and found as many pets available for adoption in Japan and put them all on our site. We don't take care of the pets. We only compile a list of them. For more information, please click on the link and you'll be redirected to the site hosting the pet. Japan Pets was created by and is maintained by volunteers.</h3>
  <h3><%= @pets.count %> Pets Found </h3>
  <% @pets.each do |pet| %>
    <div class="card-product">
      <% if pet.photo.attached? %>
        <%= image_tag(pet.photo) %>
      <% end %>
      <div class="card-product-infos">
        <% if pet.name != nil %>
          <h2><%= pet.name %></h2>
        <% end %>
        <% if pet.animal != nil %>
          <p><%= pet.animal %></p>
        <% end %>
        <% if pet.age != nil %>
          <p><%= pet.age %></p>
        <% end %>
        <% if pet.breed != nil %>
          <p><%= pet.breed %></p>
        <% end %>
        <% if pet.gender != nil %>
          <p><%= pet.gender %></p>
        <% end %>
        <% if pet.description != nil %>
          <p><%= pet.description.first(200) %>...</p>
        <% end %>
        <% if pet.url != nil %>
          <%= link_to pet.url, target:"_blank" do%>
            <small><i class="fas fa-external-link-square-alt icon align-item-center"></i></small>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
